.container{
margin : 0 auto;
width : 900px;
}

.head_bar{
margin : 0 auto;
width : 900px;
position:fixed;
top : 0;
z-index:40;
}

.main_content{
margin : 0 auto;
width : 900px;
height : 900px;
background-color : #eae9ea;
}

.undisplay{
display:none;
}
div.mode {
position: absolute;
z-index: 99;
top : 0;
right: 0;
width: 220px;
font-family: sans-serif;
font-weight:bold;
font-size: 16px;
}
.header{
top : 0px;
position: fixed;
width : 900px;
height : 130px;
background-color : #ac68f2;
text-indent: 50px;
line-height: 100px;
font-family: Cursive,"隶书";
}
.inner{
padding-top: 10px;
margin: 130px auto;
width : 800px;
font-family: "微软雅黑";
}
.footer{
bottom: 0px;
position: fixed;
height : 80px;
width : 900px;
background-color : #ac68f2;
text-indent: 30px;
line-height: 100px;
font-family: Helvetica;
}
.link{
position: relative;
float: left;
}
.link a,
.mail a{
text-decoration: none;
color: white;
}
.link a:hover,
.mail a:hover{
text-decoration: none;
color: black;
}
.mail{
text-align: right;
padding-right: 50px;
}
